.rootContainer {
    width: min(800px, 95%);
    margin: 0px auto;
}

.rootContainer > section > h1 {
    font-size: 25px;
    padding: 20px 0px;
}

.main {
    display: flex;
}

.main .intro p {
    font-size: 15px;
}

.main img {
    height: 240px;
    margin: auto 0px;
}

.main .profilePic {
    padding-left: 50px;
    display: grid;
    align-content: start;
}

.list {
    list-style: none;
    padding: 0px;
}

.work, .project, .education {
    padding: 0px 0px 25px 0px;
}

.education {
    display: grid;
    justify-content: start;
    grid-template-columns: 82px auto;
    gap: 0px 20px;
}

.education img {
    width: 80px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: auto auto;
}

.education h2, .education h3 {
    margin: 0px;
}

.education h2, .work h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
}

.work {
    display: flex;
    flex-direction: column;
}

.work > *, .project > *, .education > *  {
    margin: 0px;
}

.project {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 0px 20px;
}

.project > img {
    width: 140px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}

.copyright {
    padding: 20px 0px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .rootContainer main > h1 {
        text-align: center;
    }

    .main .profilePic {
        margin: auto;
        padding: min(10%, 10px);
    }

    .main {
        display: flex;
        flex-wrap: wrap-reverse;
        align-self: center;
    }
}

.tag {
    text-transform: uppercase;
    font-weight: 400;
}

.tag:hover {
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .project, .education {
        display: grid;
        grid-template-columns: auto;
    }

    .project > img, .education > img {
        display: none;
    }
}
