.rootContainer {
    width: min(900px, 95%);
    margin: 0px auto;
}

.main {
    display: flex;
}

.main .intro p {
    text-align: justify;
    font-size: 15px;
}

.main img {
    height: 240px;
    margin: auto 0px;
}

.main .profilePic {
    padding-left: 50px;
    display: grid;
    align-content: start;
}

.list {
    list-style: none;
    padding: 0px;
}



.education {
    display: grid;
    justify-content: start;
    grid-template-columns: 82px auto;
    gap: 0px 20px;
    padding: 20px 0px;
}

.education img {
    width: 80px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: auto auto;
}

.education h2, .education h3 {
    margin: 0px;
}

.education h2, .work h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
}

.work {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.work > * {
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .rootContainer main > h1 {
        text-align: center;
    }

    .main .profilePic {
        margin: auto;
        padding: min(10%, 10px);
    }

    .main {
        display: flex;
        flex-wrap: wrap-reverse;
        align-self: center;
    }
}
